.HtmlExample{display: none;}
.tarefas{
    width: 100%;
    cursor: pointer;
}
.tarefas tr, .tarefas th, .tarefas td{
    border: 1px solid #ddd;
}
.tarefas th, .tarefas td{
    padding: 5px 10px;
}
.tarefas .marco{
    width: 1%;
    text-align: center;
}
.tarefas .marco_icon{
    cursor: pointer;
    font-size: 20px !important;
}
.tarefas .marco_icon:hover{
    color: #ccc;
}
.tarefas .tarefaAdd, .tarefas .tarefaEdit{
    opacity: 0;
    float: right;
    margin: 0 1px;
}
.tarefas .tarefa:hover{
    background: #eee;
}
.tarefas .tarefa:hover .tarefaAdd, .tarefas .tarefa:hover .tarefaEdit{
    opacity: 1;
}

#tarefaModal .recursos{
    width: 100%;
}
#tarefaModal .recursos .recurso{
    border: 1px solid transparent;
}
.tarefas .addRecurso{
    margin-top: 10px;
}
.tarefas .deletaRecurso{
    margin: 0 -5px 0 5px;
}
.tarefas .tarefa .indice{
    margin-right: 15px;
    /* width: 50px; */
    display: inline-block;
    /* font-weight: bold; */
    background-color: #ddd;
    /* height: 20px; */
    padding: 1px 5px;
    border-radius: 3px;
}
.tarefas .tarefa.eap{
    font-weight: bold;
    background-color: #f5f5f5;
}