.HtmlExample{display: none;}
.tarefas{
    width: 100%;
    cursor: pointer;
}
.tarefas tr, .tarefas th, .tarefas td{
    border: 1px solid #ddd;
}
.tarefas th, .tarefas td{
    padding: 5px 10px;
}
.tarefas .marco{
    width: 1%;
    text-align: center;
}
.marco_icon{
    cursor: pointer;
    font-size: 20px !important;
}
.marco_icon:hover{
    color: #ccc;
}
.tarefaAdd, .tarefaEdit{
    opacity: 0;
    float: right;
    margin: 0 1px;
}
.tarefa:hover{
    background: #eee;
}
.tarefa:hover .tarefaAdd, .tarefa:hover .tarefaEdit{
    opacity: 1;
}

#tarefaModal .recursos{
    width: 100%;
}
#tarefaModal .recursos .recurso{
    border: 1px solid transparent;
}
.addRecurso{
    margin-top: 10px;
}
.deletaRecurso{
    margin: 0 -5px 0 5px;
}
.tarefa .indice{
    /*    border-radius: 50%;
        padding: 0px 4px;
        background: #ddd;*/
    margin-right: 20px;
    width: 50px;
    display: inline-block;
}